*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(226, 87, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    font-size: 4rem;
    font-style: italic;
    color:aqua;
    margin: 2rem;
}
.addTask{
    height:40px;
    width:400px;
    display: flex;
    gap:0.5rem;
}
#inputTask{
    height:100%;
    width:290px;
}
.addWork{
    width:70px;
    background-color: rgb(244, 10, 92);
    color: #fff;
    font-weight: 600;
}
.addWork:hover{
    background-color: rgb(194, 37, 63);
    transform: scale(1.1);
}
.listStyle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:0.4rem;
    height:40px;
    width:300px;
    background-color: antiquewhite;
    border-radius: 1rem;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    padding-top: 5px;
    /* position: absolute;
    top:15rem; */
}
.check{
    grid-area: 1/4/2/5;
    width:20px;
    height: 20px;
    align-self: center;
}
.delBtn{
    grid-area: 1/5/2/6;
    height:37px;
    width:37px;
}
.delBtn:hover{
    transform: scale(1.2);
}


    
